body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #555;
    ;
    color: white;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
img {
    max-width: 100%;
    border-radius: 8px;
}
section {
    margin-bottom: 30px; 
    padding: 15px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #fdfdfd; 
}
h2 {
    color: #0073e6;
    margin-top: 0;
}
h3 {
    margin-top: 15px;
    color: #555;
}
.specs {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
.specs li {
    display: flex; 
    justify-content: space-between; 
    padding: 8px 0; 
    border-bottom: 1px solid #ddd; 
}
.specs li:last-child {
    border-bottom: none; 
}
.specs li span {
    flex: 1; 
}
.specs li span:last-child {
    flex: 2;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #555;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.feature-list {
    margin-top: 20px;
}
.feature-list li {
    margin-bottom: 8px;
}