@import url('https://fonts.cdnfonts.com/css/samsungone');

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --samsungOne-font: 'SamsungOne', arial, sans-serif;
    --samsungSharp-font: 'Samsung Sharp Sans', arial, sans-serif;

}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: var(--samsungOne-font);
    color: var(--secondary-color);
}

/* navbar */

.navbar {
    background-color: var(--secondary-color);
}

.navbar-brand {
    font-family: var(--samsungSharp-font);
    font-weight: 700;
    color: var(--primary-color);
}

.nav-item .nav-link {
    color: var(--primary-color);
    font-family: var(--samsungOne-font);
    font-weight: 500;
    font-size: 15px;
    margin: 0 15px;
}

.bordered-text {
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 5px 10px
}

.nav-link:hover,
.navbar-brand:hover {
    color: var(--primary-color) !important;
}

/* body content */
.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 20px;
    z-index: 1;
}

.overlay h3 {
    font-family: var(--samsungSharp-font);
    font-weight: 900;
    font-size: 26px;
    margin: 0 0 16px;
}

.overlay h1 {
    font-family: var(--samsungSharp-font);
    font-weight: 900;
    font-size: 48px;
}

.overlay p {
    font-family: var(--samsungOne-font);
    font-size: 16px;
    margin: 24px 0 0;
}

/* buttons */
.btnContainer {
    display: flex;
    gap: 30px;
    align-items: center;
}

.overlay .btnContainer button {
    margin: 40px 0 0;
    font-family: var(--samsungOne-font);
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 900;
}

.btnContainer .btn-contact {
    border-radius: 0;
    border-bottom: 2px solid var(--primary-color);
    padding: 10px 0 11px;
}

.btnContainer .btn-buy {
    margin: 0 0 0 20px;
    border-radius: 50px;
    background-color: var(--primary-color);
    padding: 9px 23px 10px;
}

.btnContainer .btn-buy:hover {
    background-color: transparent;
    color: var(--primary-color) !important;
    border: 1.5px solid var(--primary-color) !important;
}

/* content1 */

.rowContent {
    padding: 48px 0;
    margin: 0 147.2px;
    text-align: center;
}

.rowContent h4 {
    font-family: var(--samsungOne-font);
    font-weight: 900;
    font-size: 18px;
    margin: 0 0 16px;
}

.rowContent h1 {
    font-family: var(--samsungSharp-font);
    font-weight: 900;
    font-size: 48px;
    margin: 0 0 8px;
}

.rowContent p {
    font-family: var(--samsungOne-font);
    font-size: 18px;
    margin: 24px 0 0;
}

.rowContent button {
    border-radius: 50px;
    border: 1.5px solid var(--secondary-color) !important;
    margin: 36px -10px 0;
    padding: 9px 23px 10px;
    font-family: var(--samsungOne-font);
    font-size: 16px;
    font-weight: 700;
}

/* content2 */

#readyForWork {
    padding: 48px 0;
    margin: 16px 147.2px 0;
    /* display: flex; */
}

.rowContent1 .ruggedContent1 {
    margin-left: 100px;
}

.rowContent1 h1 {
    font-family: var(--samsungSharp-font);
    font-weight: 900;
    font-size: 38px;
    margin-bottom: 20px;
}

.rowContent1 p {
    font-family: var(--samsungOne-font);
    font-size: 18px;
}

.rowContent2 {
    text-align: center;
}

.rowContent2 h4 {
    font-family: var(--samsungOne-font);
    font-weight: 900;
    font-size: 16px;
    margin: 40px 0 16px;
}

.rowContent2 h1 {
    font-family: var(--samsungSharp-font);
    font-weight: 900;
    font-size: 28px;
    margin: 0 0 8px;
}

#versatile {
    padding: 48px 0;
    margin: 20px 147.2px 0;
}

#versatile .title3 {
    font-family: var(--samsungSharp-font);
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding: 35.0133px 103.581px
}

.rowContent3 .versionContent {
    cursor: pointer;
}

.versionContent .v1:focus,
.versionContent .v1:active,
.versionContent .v2:focus,
.versionContent .v2:active,
.versionContent .v3:focus,
.versionContent .v3:active {
    border: dotted 1px var(--secondary-color);
}

.versionContent div {
    margin-bottom: 70px;
}

.versionContent span.h4 {
    font-family: var(--samsungOne-font);
    font-weight: 900;
    font-size: 28px;
}

.versionContent span.p {
    font-family: var(--samsungOne-font);
    font-size: 19px;
}


/* media queries */
@media (max-width: 575.98px) {
    .overlay {
        display: none;
    }

    .rowContent {
        padding: 16px 0 !important;
        margin: 15px !important;
        text-align: left;
    }

    #readyForWork {
        padding: 16px 0 !important;
        margin: 15px !important;
    }

    .rowContent1 img {
        width: 100%;
        object-fit: cover;
    }

    .rowContent1 .ruggedContent {
        padding: 0 0 0 0;
        text-align: center;
    }
}