.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card {
    padding: 20px;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 226);
}

.card-body {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    padding-top: 40px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    height: auto;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    color: #007bff;
    text-shadow: 0 0 1px #007bff;
}

.sidebar.active {
    transform: translateX(0);
}

.content {
    margin-right: 250px;
}

.content.shrink {
    margin-right: 200px;
}

.list-unstyled {
    font-size: 15px;
    line-height: 2;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    text-decoration-color: black;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0%;
}

.mode-button {
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.mode-button:hover {
    background-color: #007bff;
    color: white;
}

.card-title {
    color: rgb(23, 23, 23);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    text-decoration-color: black;
    margin-top: 20px;
    margin-bottom: 0;
}
