@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    box-shadow: 0 4px 15px rgba(16, 0, 10, 0.4);
    display: flex;
    align-items: center;
    z-index: 100;
}

.card-content {
    margin-top: 100px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    padding: 20px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease;
    background-color: rgb(241, 241, 226);
    color: rgb(23, 23, 23);
}

.card:hover {
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    padding-top: 40px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    height: auto;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    color: #007bff;
    text-shadow: 0 0 1px #007bff;
}

.sidebar.active {
    transform: translateX(0);
}

.content {
    margin-right: 250px;
}

.content.shrink {
    margin-right: 200px;
}

.list-unstyled {
    font-size: 15px;
    line-height: 2;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    text-decoration-color: black;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0%;
}

.mode-button {
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.mode-button:hover {
    background-color: #007bff;
    color: white;
}

